<div class="public-orders">
  <p>Orders</p>
  <div class="order-table">
    <div class="bid-orders column">
      <p class="row">Bids</p>
      <div class="row">
        <p class="column">Quantity</p>
        <p class="column">Price</p>
      </div>
      <div class="row bid-row" *ngFor="let bid of bidOrders | keyvalue">
        <p class="column">{{ bid.value }}</p>
        <p class="column">{{ bid.key }}</p>
      </div>
    </div>
    <div class="ask-orders column">
      <p class="row">Asks</p>
      <div class="row">
        <p class="column">Quantity</p>
        <p class="column">Price</p>
      </div>
      <div class="row ask-row" *ngFor="let ask of askOrders | keyvalue">
        <p class="column">{{ ask.value }}</p>
        <p class="column">{{ ask.key }}</p>
      </div>
    </div>
  </div>
</div>
