mat-card {
  height: 100%;
}

.public-orders {
    border: solid;
    width: 50%;
}

.order-table {
    display: flex;
}

.column {
    width: 50%;
}

.row {
    display: flex;
    padding: 5px;
    border-bottom: solid 1pt;
}

.bid-orders{
    border-right: solid 1px;
}
