<div class = "order-form">
  <div>
    <h3>Order Form</h3>
  </div>
  <div class="but-sell-btns">
    <button>Buy</button>
    <button>Sell</button>
  </div>
  <div class="market-limit-stop">
    <button>Market</button>
    <button>Limit</button>
    <button>Stop</button>
  </div>
  <div>
    <p>Quantity</p>
    <input placeholder="0.0" />
  </div>
  <div>
    <p>Price</p>
    <input placeholder="0.00" type="number" step="0.1" [(ngModel)]="inputValue" />
  </div>
  <div>
    <button (click)="postData()">Sell</button>
  </div>
</div>
