<div class="order-form">
  <div class="order-form-title">
    <h3>Order Form</h3>
  </div>
  <div>
    <div>
      <p>Quantity</p>
      <input placeholder="0" step="1" [(ngModel)]="quantity" />
    </div>
    <div>
      <p>Price</p>
      <input placeholder="0" type="number" step="1" [(ngModel)]="price" />
    </div>
    <div class="buy-sell-btns">
      <button class="buy" (click)="postData(true)">Buy</button>
      <button class="sell" (click)="postData(false)">Sell</button>
    </div>
  </div>
</div>
