.order-form {
    max-width: 20rem;
    min-height: 30rem;
    background-color: #202424;
    justify-content: center;
}

.order-form-title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-sell-btns {
    display: flex;
    align-items: center;
}

.buy {
    margin-right: 2rem;
}