<mat-card>
  <mat-card-header>
    <mat-card-title>My Orders</mat-card-title>
    <mat-card-subtitle>Last Updated: Never</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="my-order-tables">
      <div class="open-orders-container">
        <p class="title">Open</p>
        <table mat-table [dataSource]="openDataSource">
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let bid">{{ bid[0] }}</td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let bid">{{ bid[1] }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsOpen"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsOpen"></tr>
        </table>
      </div>
      <div class="filled-orders-container">
        <p class="title">Filled</p>
        <table mat-table [dataSource]="tradeHistory">
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let trade">{{ trade.price }}</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let trade">{{ trade.quantity }}</td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let trade">
              {{ trade.created | date : "dd-MM-yyy hh:mm:ss" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsFilled"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsFilled"
          ></tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
