<div class="trade-history-table">
  <div class="trade-history column">
    <p class="row">Trade History</p>
    <div class="row">
      <p class="column">Quantity</p>
      <p class="column">Price</p>
      <p class="column">Time</p>
    </div>
    <div class="row" *ngFor="let trade of tradeHistory">
      <p class="column">{{ trade.quantity }}</p>
      <p class="column">{{ trade.price }}</p>
      <p class="column">{{ trade.created | date: "dd-MM-yyy hh:mm:ss" }}</p>
    </div>
  </div>
</div>
