.trade-history {
    border: solid;
    width: 50%;
}

.trade-history-table{
    display: flex;
}

.column {
    width: 50%;
}

.row {
    display: flex;
    padding: 5px;
    border-bottom: solid 1pt;
}

mat-card {
  height: 100%;
}

.scrollable-content { 
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollable-content::-webkit-scrollbar {
    display:none;
  }