mat-card {
  height: 100%;
}

mat-card-content {
  padding-left: 2rem;
  height: 100%;
}

mat-button-toggle-group {
  margin: 1rem 0;
}

.btn-spinner {
  display: flex;
}

mat-progress-spinner {
  margin-left: 1rem;
}
